# Exclude everything
/*

# Include specifically

## Editorconfig
!.editorconfig

## Markdowns
!*.md

## Important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## Package manager
!pyproject.toml
!uv.lock
!.python-version

## App configuration templates
!.env.template

## Sources
!/src
!/tests
!/scripts

## Python caches/compiled files
__pycache__/
*.py[oc]
*.egg-info

# Explicit exceptions/ignores
